<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login Page</title>
</head>
<body>
    
    <form class="box" method="POST">
        <h1>Login</h1>
        <div>
            <!-- <i class="user"></i> -->
            <input type="text" name='email' placeholder="Email"></div>
        <div>
            <!-- <i class="lock"></i> -->
            <input type="password" name='password' placeholder="Password"></div>
        <input type="submit" value="submit">
        <!-- <input type="reset" value="reset"> -->
    </form>
</body>
</html>